
@mixin con_main_font{
    color: black;
    line-height: 1.5;  
}

@mixin con_main_display{
    display: flex;
    justify-content: space-between;
}

body {
    margin: 50px 100px 50px 100px;
    max-width: 1200px;
    width: 100%;
    height: auto;
}

.con_section_1_container{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 95%;

    .con_section_1_container_context_left{
        max-width: 400px;
    }


    .con_section_1_container_context_h{
        @include con_main_font;
        font-size: x-large;
        font-weight: bolder;
    }
    .con_section_1_container_context_p{
        @include con_main_font;
        width: 380px;
        font-size: 13px;  
        height: 150px;
    }
    form{
        color: grey;
        font-size: 14px;
        width: 400px;
        margin-top: 20px;
        margin-bottom: 30px;       
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        font-weight: bold;

        input{
            padding: 10px;
            border: none;
            border-bottom: 1px solid rgb(240, 233, 233);
            size: 40;
        }

        .btn{
            font-size: 15px;
            color: white;
            background: rgb(52, 16, 211);
            cursor: pointer;
            border: none;
            padding: 10px;
            align-self: start;
            border-radius: 3px;

            &:hover {
                transform: scale(1.1);          
                background-color: yellowgreen;
            }
        }
    }
}

.con_section_2{
    display: flex;
    justify-content: center;
}