
.footer_section{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    max-width: 1000px;
    width: 100%;
    
    .nav_section{
        margin-top: 80px; 
    
        .logo{
            img{
                max-width: 100%;
                height: auto;
            
                &:hover{
                    transform:scale(1.1);
                }  
            }
        }

        .footer_list_display{           
            list-style: none;
            margin-right: 90px;
            margin-top: -30px;
            display: flex;
            justify-content: space-between;
                
            a{
                font-size: 1.2rem;
                text-decoration: none;
                padding: 30px;
                color: inherit;
            }      
            
            &:hover{
                cursor: pointer;
            } 
        
        
        }
    
        
       .social{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100px;
            margin-right: -100px;

            &:hover{
                cursor: pointer;
            } 
        }   
    }
}