
.nav_section{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    
    .logo{
        img{
            max-width: 100%;
            height: auto;
            
            &:hover{
                transform:scale(1.1);
            }  
        }
    }

    .nav{
        ul.nav_list{
            list-style: none;
            margin-right: 90px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            li{
                font-size: 1.2rem;
                text-decoration: none;
                padding: 30px;
                color: inherit;
            }      
        }
    }
}