

body {
    margin: 70px 150px 150px 70px;
    max-width: 1200px;
    width: 100%;
    height: auto;

    font: {
      family: 'Mulish', sans-serif;
      color: black;
    }
  }

 @mixin list {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 30px;
  color: inherit;

  &:hover {
    background-color: rgb(115, 115, 115);
    color: white;
    padding: 5px;
    border-radius: 5%;
  }
}

@mixin display{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


@mixin main-title{
    color: black;
    line-height: 1.2;
    font-size: larger;

    .span{
        color: rgb(109, 64, 151);
    }
}

@mixin section_3_container_note{
    line-height: 1.5;
    text-shadow: 0.03em 0.03em gray;
    font-size: 28px;
    font-weight: bold;
}

@mixin home_container_display{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
  }


$section_4_item1_font_size: 20px; 
$section_4_item2_font_size: 18px; 
$section_4_item3_title_font_size: 15px; 
$section_4_item3_para_font_size: 14px;

.section_1_container{
    display: flex;
    justify-content: space-between;
    margin-right: 120px;

    .section_1_container_context{
        .section_1_container_context_p{
            color: rgb(109, 64, 151);
        }
        .section_1_container_context_h{
            @include main-title;
        }

        .section_1_container_context_right_container{
            line-height: 0.7;
            color: rgb(159, 153, 153);
            font-size: smaller;
            font-style: italic;
        }
    }
}

.section_2{
    height: 1960px;
    width: 1110px;
}

.section_3_container{
    margin-right: 120px;
    margin-top: 40px;
    margin-bottom: 30px;

    .section_3_container_context{
        @include home_container_display;
    
        .section_3_container_note{
            width: 300px;
            @include home_container_display;

            p{
                @include section_3_container_note;
            }
        }
    }
}

.section_4_container{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    margin-right: 120px;

    .section_4_container_context{
        @include home_container_display;
        height: 300px;
            
        .section_4_container_context_item1{
            margin-top: 25px;
            font-size: $section_4_item1_font_size;
        }

        .section_4_container_context_item2{
            margin-top: -80px;
            @include home_container_display;
            justify-content: space-evenly;
            font-size: $section_4_item2_font_size;
            padding: 110px;
        }

        .section_4_container_context_item3{
            margin-top: 100px;
            @include home_container_display;
            justify-content: space-around;
            width: 190px;
            height: 110px;
        }  

        .section_4_container_context_item3_note{
            margin-top: 20px;
            @include home_container_display;

            .section_4_container_context_item3_note_title{
                font-size:$section_4_item3_title_font_size;
                color: rgb(16, 15, 15);
            }

            .section_4_container_context_item3_note_para{
                font-size:$section_4_item3_para_font_size;
                color: rgb(186, 178, 178);
                line-height: 1.5;
            }
        }
    }
}  