body {
    margin: 50px 100px 50px 100px;
    max-width: 1200px;
    width: 100%;
    height: auto;

    font: {
      family: 'Mulish', sans-serif;
      color: black;
    }
}

@mixin list {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 30px;
  color: inherit;

  &:hover {
    background-color: rgb(115, 115, 115);
    color: white;
    padding: 5px;
    border-radius: 5%;
  }
}

@mixin display{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


@mixin main-title{
    color: black;
    line-height: 1.2;
    font-size: larger;

    .span{
        color: rgb(109, 64, 151);
    }
}

@mixin section_3_container_p{
    line-height: 1.5;
    text-shadow: 0.03em 0.03em gray;
    font-size: 28px;
    color: black;
    font-weight: bold;
}

@mixin section_3_container_note{
    line-height: 1.5;
    font-size: 20px;
    color: gray;
}

@mixin home_container_display{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; 
    max-width: 1100px;
    width: 100%;
  }


$section_4_item1_font_size: 20px; 
$section_4_item2_font_size: 18px; 
$section_4_item3_title_font_size: 15px; 
$section_4_item3_para_font_size: 14px;

.section_1_container{
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    margin-left: 50px;

        .section_1_container_context_p{
            color: rgb(109, 64, 151);
            font-weight: bold;
        }
        .section_1_container_context_h{
            @include main-title;
        }

        .section_1_container_context_right_container{
            line-height: 0.7;
            color: rgb(159, 153, 153);
            font-size: smaller;
            font-style: italic;
        }
    
}

.section_2{
    max-width: 1200px;
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-gap: 0.1px;
    
        .item1{
            grid-column: 1/3;
            grid-row: 1/7;
        }
        .item2{
            grid-column: 4/6;
            grid-row: 1/6;
        }
        .item3{
            grid-column: 7/9;
            grid-row: 1/10;
        }
        .item4{
            grid-column: 1/3;
            grid-row: 8/15;
        }
        .item5{
            grid-column: 4/6;
            grid-row: 7/12;
        }
        .item6{
            grid-column: 7/9;
            grid-row: 11/16;
        }
        .item7{
            grid-column: 1/3;
            grid-row: 16/22;
        }
        .item8{
            grid-column: 4/6;
            grid-row: 13/23;
        }
        .item9{
            grid-column: 7/9;
            grid-row: 17/26;
        }
        .item10{
            grid-column: 1/3;
            grid-row: 23/32;
        }
        .item11{
            grid-column: 4/6;
            grid-row: 24/32;
        }
        .item12{
            grid-column: 7/9;
            grid-row: 27/32;
        }
}


.section_3_container{
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 1200px;
    width: 95%;
    display: flex;
    justify-content: center;
    

    .section_3_container_context{
        
        @include home_container_display;
        p{
            @include section_3_container_p;
        }

        .section_3_container_note{
            width: 300px;
            @include home_container_display;

            p{
                @include section_3_container_note;
                text-shadow: none;
            }
        }
    }
}

.section_4_container{
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin-left: 50px;

    .section_4_container_context{   
        display: flex;
        justify-content: space-between;
        
        .section_4_container_context_item1{
            font-size: $section_4_item1_font_size;
            width: 100px;
        }

        .section_4_container_context_item2{           
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            font-size: $section_4_item2_font_size;  
        }

        .section_4_container_context_item3{
           display: flex;
           justify-content: flex-start;
           flex-direction: column;   
           width: 160px;      
        
            .black-3{
                $section_4_item3_title_font_size: 15px;                
            }
            .gray-3{
                $section_4_item3_para_font_size: 14px;
                color: gray;
                line-height: 1.5;
            }
        }
        

    }  
}