body {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: auto;
}

@mixin pro_main_font{
    color: black;
    line-height: 1.5;  
}

@mixin pro_main_display{
    display: flex;
    justify-content: space-between;
}

.pro_section_1_container{
    @include pro_main_display;
    max-width: 1200px;
    width: 95%;
    height: auto;
    
    
    .pro_section_1_container_context_h{
        @include pro_main_font;
        font-size: x-large;
    }
    .pro_section_1_container_context_p{
        @include pro_main_font;
        width: 580px;
        height: 200px;
        font-size: 14px;
    }
    .pro_section_1_container_context_right_container{
        @include pro_main_font;
        font-size: smaller;
        width: 280px;
        min-height: 500px;
        
        margin-top: 10px;

        .pro_section_1_container_context_right_container_card{
            @include pro_main_display;
            justify-content: flex-start;
            
            .gray{
                color: rgb(159, 153, 153);
                width: 110px;        
            }
        }
    }
}

.pro_section_2{
    margin-top: 50px;
   
    img{
        width: 1200px;
        width: 95%;
    }
}

.pro_section_3{
    width: auto;
    max-width: 1200px;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 45px;
    @include pro_main_font;
}

.pro_section_4{
    margin-top: 60px;
    margin-bottom: 30px; 
    max-width: 1200px;
    width: 95%;

    .p_section_4_container{
        display: flex;
        justify-content: space-around;
     
            
        img{
            width: 350px;
            height: 400px;
        }
    }
 }