@import "index.scss";

.nav_section{
    @include nav_display;    
    
    .logo{
        img{
            max-width: 100%;
            height: auto;
            
            &:hover{
                transform:scale(1.1);
            }  
        }
    }

    .nav{
        ul.nav_list{
            list-style: none;
            margin-right: 90px;
            @include nav_display;

            li{
                @include _list;
            }      
        }
    }
}