body {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  height: auto;
  font-family: "Mulish", sans-serif;
  color: black;
}

.section_1_container {
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
  margin-left: 50px;
}
.section_1_container .section_1_container_context_p {
  color: rgb(109, 64, 151);
  font-weight: bold;
}
.section_1_container .section_1_container_context_h {
  color: black;
  line-height: 1.2;
  font-size: larger;
}
.section_1_container .section_1_container_context_h .span {
  color: rgb(109, 64, 151);
}
.section_1_container .section_1_container_context_right_container {
  line-height: 0.1;
  color: rgb(159, 153, 153);
  font-size: smaller;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  padding: 60px;
}

.section_2 {
  max-width: 1200px;
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(32, 1fr);
  grid-gap: 0.5px;
}
.section_2 .item1 {
  grid-column: 1/4;
  grid-row: 1/8;
}
.section_2 .item2 {
  grid-column: 4/7;
  grid-row: 1/7;
}
.section_2 .item3 {
  grid-column: 7/10;
  grid-row: 1/11;
}
.section_2 .item4 {
  grid-column: 1/4;
  grid-row: 8/16;
}
.section_2 .item5 {
  grid-column: 4/7;
  grid-row: 7/14;
}
.section_2 .item6 {
  grid-column: 7/10;
  grid-row: 11/18;
}
.section_2 .item7 {
  grid-column: 1/4;
  grid-row: 16/24;
}
.section_2 .item8 {
  grid-column: 4/7;
  grid-row: 14/23;
}
.section_2 .item9 {
  grid-column: 7/10;
  grid-row: 18/27;
}
.section_2 .item10 {
  grid-column: 1/4;
  grid-row: 24/32;
}
.section_2 .item11 {
  grid-column: 4/7;
  grid-row: 23/32;
}
.section_2 .item12 {
  grid-column: 7/10;
  grid-row: 27/32;
}

.section_3_container {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 1200px;
  width: 95%;
  display: flex;
  justify-content: center;
}
.section_3_container .section_3_container_context {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 1100px;
  width: 100%;
}
.section_3_container .section_3_container_context p {
  line-height: 1.5;
  text-shadow: 0.03em 0.03em gray;
  font-size: 28px;
  color: black;
  font-weight: bold;
}
.section_3_container .section_3_container_context .section_3_container_note {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 1100px;
  width: 100%;
}
.section_3_container .section_3_container_context .section_3_container_note p {
  line-height: 1.5;
  font-size: 20px;
  color: gray;
  text-shadow: none;
}

.section_4_container {
  max-width: 1200px;
  width: 90%;
  height: 600px;
  margin-left: 50px;
}
.section_4_container .section_4_top {
  height: 300px;
}
.section_4_container .section_4_bottom {
  height: 400px;
}
.section_4_container .section_4_container_context {
  display: flex;
  justify-content: space-between;
}
.section_4_container .section_4_container_context .section_4_container_context_item1 {
  font-size: 20px;
  width: 100px;
  padding: 40px;
}
.section_4_container .section_4_container_context .section_4_container_context_item2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 18px;
}
.section_4_container .section_4_container_context .section_4_container_context_item3 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 160px;
}
.section_4_container .section_4_container_context .section_4_container_context_item3 .gray-3 {
  color: gray;
  line-height: 1.5;
}
.section_4_container .section_4_container_context .section_4_container_context_item4 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
}

body {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  height: auto;
}

.pro_section_1_container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 95%;
  height: auto;
}
.pro_section_1_container .pro_section_1_container_context_h {
  color: black;
  line-height: 1.5;
  font-size: x-large;
}
.pro_section_1_container .pro_section_1_container_context_p {
  color: black;
  line-height: 1.5;
  width: 580px;
  height: 200px;
  font-size: 14px;
}
.pro_section_1_container .pro_section_1_container_context_right_container {
  color: black;
  line-height: 1.5;
  font-size: smaller;
  width: 280px;
  min-height: 500px;
  margin-top: 10px;
}
.pro_section_1_container .pro_section_1_container_context_right_container .pro_section_1_container_context_right_container_card {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
}
.pro_section_1_container .pro_section_1_container_context_right_container .pro_section_1_container_context_right_container_card .gray {
  color: rgb(159, 153, 153);
  width: 110px;
}

.pro_section_2 {
  margin-top: 50px;
}
.pro_section_2 img {
  width: 1200px;
  width: 95%;
}

.pro_section_3 {
  width: auto;
  max-width: 1200px;
  width: 95%;
  margin-top: 40px;
  margin-bottom: 45px;
  color: black;
  line-height: 1.5;
}

.pro_section_4 {
  margin-top: 60px;
  margin-bottom: 30px;
  max-width: 1200px;
  width: 95%;
}
.pro_section_4 .p_section_4_container {
  display: flex;
  justify-content: space-around;
}
.pro_section_4 .p_section_4_container img {
  width: 350px;
  height: 400px;
}

body {
  margin: 50px 100px 50px 100px;
  max-width: 1200px;
  width: 100%;
  height: auto;
}

.con_section_1_container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  width: 95%;
}
.con_section_1_container .con_section_1_container_context_left {
  max-width: 400px;
}
.con_section_1_container .con_section_1_container_context_h {
  color: black;
  line-height: 1.5;
  font-size: x-large;
  font-weight: bolder;
}
.con_section_1_container .con_section_1_container_context_p {
  color: black;
  line-height: 1.5;
  width: 380px;
  font-size: 13px;
  height: 150px;
}
.con_section_1_container form {
  color: grey;
  font-size: 14px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-weight: bold;
}
.con_section_1_container form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgb(240, 233, 233);
  size: 40;
}
.con_section_1_container form .btn {
  font-size: 15px;
  color: white;
  background: rgb(52, 16, 211);
  cursor: pointer;
  border: none;
  padding: 10px;
  align-self: start;
  border-radius: 3px;
}
.con_section_1_container form .btn:hover {
  transform: scale(1.1);
  background-color: yellowgreen;
}

.con_section_2 {
  display: flex;
  justify-content: center;
}

.nav_section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1100px;
  width: 100%;
  padding: 20px;
}
.nav_section .logo img {
  max-width: 100%;
  height: auto;
}
.nav_section .logo img:hover {
  transform: scale(1.1);
}
.nav_section .nav_list {
  list-style: none;
  margin-right: -60px;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.nav_section .nav_list a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 30px;
  color: inherit;
  cursor: pointer;
}
.nav_section .nav_list a:hover, .nav_section .nav_list a:active {
  color: gray;
}

.footer_section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
}
.footer_section .nav_section {
  margin-top: 80px;
}
.footer_section .nav_section .logo img {
  max-width: 100%;
  height: auto;
}
.footer_section .nav_section .logo img:hover {
  transform: scale(1.1);
}
.footer_section .nav_section .footer_list_display {
  margin-right: 90px;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.footer_section .nav_section .footer_list_display a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 30px;
  color: inherit;
  cursor: pointer;
}
.footer_section .nav_section .footer_list_display a:hover, .footer_section .nav_section .footer_list_display a:active {
  color: gray;
}
.footer_section .nav_section .social {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100px;
  margin-right: -100px;
}
.footer_section .nav_section .social a {
  cursor: pointer;
  color: inherit;
}
.footer_section .nav_section .social a:hover, .footer_section .nav_section .social a:active {
  color: gray;
}/*# sourceMappingURL=index.css.map */